<header>
    <div class="title__text--container">
        <h1 class="title__text"> <a href="/views/products">E-Commerce</a></h1>
    </div>
    <h3>Hola! {{first_name}} {{last_name}} ROL: {{rol}}</h3>
    <div class="search-bar">
       <form method="get">
        <label for="search">Buscar Producto:</label>
            <input type="search" name="search" id="search">
            <button class="search-btn"><i class="bi bi-search"></i></button>
       </form>
    </div>
    <nav class="navigation">
        <a href="/views/carts">CARRITO</a>
        <a href="/api/chat">CONTACTO</a>
        <a href="/api/realtimeproducts">PRODUCTOS</a>
        <form action="/api/session/logout" method="post">
            <button>Cerrar sesion</button>
        </form>
    </nav>
</header>
<main>
    {{#each docs}}
        <div class="products__container">
            <div class="products__img-container">
                <img class="product__img" src="{{this.thumbnail}}">
            </div>
            <div class="products__texts">
                <a href="/views/products/{{this.id}}"><h2 class="product__title">Producto: {{this.title}}</h2></a>
            </div>
        </div>
    {{/each}}
</main>
