<main>
    <div>
        {{#each renderCart}}
            <p>Producto: {{product.title}}</p>
            <p>Descripción: {{product.description}}</p>
            <p>Precio: {{product.price}}</p>
            <p>Categoria: {{product.category}}</p>
            <p>Cantidad en el carrito: {{qty}}</p>
            <hr>
        {{/each}}
    </div>
</main>